Project1_XML_Schema_Definition/bookshop_xml_shema.xsd

<?xml version="1.0" encoding="UTF-8"?>



<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


	<!-- ################################# balises pour definir les attributs #################################### -->

	<!-- definition de l'attribute "Type"  -->

	<xsd:attribute name="type">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="scientific"/>
				<xsd:enumeration value="leisure"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>

	<!-- definition de l'attribute  "genre"  -->

	<xsd:attribute name="genre">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="thriller"/>
				<xsd:enumeration value="horror"/>
				<xsd:enumeration value="sci/fi"/>
				<xsd:enumeration value="romance"/>
				<xsd:enumeration value="literature"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	
	
	<!-- definition de l'attribute  "ID"  -->
	
	<xsd:attribute name="ID" type="xsd:ID"/>

<!-- ############################ definition des element de Niveau_4 & 5 ##################### -->

	<!-- ################################# element independante #################################### -->

	<xsd:element name="titre" type="xsd:string"/>
	<xsd:element name="publisher" type="xsd:string"/>
	<xsd:element name="edition" type="xsd:string"/>
	<xsd:element name="YearPublication" type="xsd:gYear"/>

	<!--************  -->
	<xsd:element name="name" type="xsd:string"/>
	<xsd:element name="FirstName" type="xsd:string"/>

	<!--************  -->
	<xsd:element name="numero" type="xsd:string"/>
	<xsd:element name="rue" type="xsd:string"/>
	<xsd:element name="city" type="xsd:string"/>
	<xsd:element name="country" type="xsd:string"/>

	<!--************  -->
	<xsd:element name="PostalCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="[0-9]{4}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>

	<!--************  -->
		<xsd:complexType name="PHONE">
			<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required"> <xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="HousePhone"/>
							<xsd:enumeration value="cellphone"/>
							<xsd:enumeration value="OfficePhone"/>
						</xsd:restriction> </xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="locality" use="optional"> <xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="[A-Z]{3}"/>
							<xsd:enumeration value="BEL"/>
							<xsd:enumeration value="CMR"/>
							<xsd:enumeration value="USA"/>
						</xsd:restriction> </xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>

<!--************  -->

		<xsd:complexType name="EMAIL">
			<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" default="personnel">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="personnel"/>
							<xsd:enumeration value="professionnel"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>

<!-- ############################ element utisant les references des elements independante ##################### -->

	<!-- element "emails" , fait appele au type personnele "EMAIL"-->

	<xsd:element name="emails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="email" type="EMAIL" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- element "adresse", fait reference a d'autre element plus haut -->

	<xsd:element name="adresse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="numero"/>
				<xsd:element ref="rue"/>
				<xsd:element ref="PostalCode"/>
				<xsd:element ref="city"/>
				<xsd:element ref="country"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- element "telephone", fait appele au type personnele "PHONE" -->

	<xsd:element name="Phones">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Phone" type="PHONE" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- element editor, fait reference a d'autre element plus haut -->

	<xsd:element name="editor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name"/>
				<xsd:element ref="adresse"/>
				<xsd:element ref="Phones"/>
				<xsd:element ref="emails"/>
			</xsd:sequence>
			<xsd:attribute ref="ID" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<!-- element ListingEditors, fait reference a d'autre element plus haut -->

	<xsd:element name="ListingEditors">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="editor" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- element person, fait reference a d'autre element plus haut -->

	<xsd:element name="person">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name"/>
				<xsd:element ref="FirstName"/>
				<xsd:element ref="adresse"/>
				<xsd:element ref="Phones"/>
				<xsd:element ref="emails"/>
			</xsd:sequence>
			<xsd:attribute name="sexe" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="M"/>
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<!-- element "auteurs", fait reference a d'autre element plus haut -->

	<xsd:element name="authors">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="person"/>
			</xsd:all>
			<xsd:attribute ref="ID" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ListingAuthors">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="authors" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- element "article" -->

	<xsd:element name="article" >
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="titre"/>

				<xsd:element ref="ListingAuthors" />

				<xsd:choice>
					<xsd:element name="NumPage">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="StartPage" type="xsd:positiveInteger"/>
								<xsd:element name="EndPage" type="xsd:positiveInteger"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="NumArticle" type="xsd:positiveInteger"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<!-- ############################ definition des element de Niveau_3 ##################### -->

	<!-- element "journals" utilise les elements du NIVEAU_4 plus haut -->

	<xsd:element name="journals">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="titre"/>
				<xsd:element name="volume" type="xsd:string" />
				<xsd:element name="number" type="xsd:nonNegativeInteger" />
				<xsd:element name="ListingAuthors">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="authors" minOccurs="1" maxOccurs="unbounded"/>
						<xsd:element name="NumRedactor" type="xsd:positiveInteger" />
					</xsd:choice>
				</xsd:complexType>
				</xsd:element>
				<xsd:element ref="YearPublication"/>
				<xsd:element ref="publisher" minOccurs="0" maxOccurs="1" />
				<xsd:element name="ImpactFactor" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="Year" type="xsd:gYear" />
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="contents">
					<xsd:complexType>
						<xsd:all>
							<xsd:element ref="article"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

<!-- element "book" utilise les elements du NIVEAU_4 plus haut -->

	<!-- <xsd:element name="book"> -->
		<xsd:complexType name="bookScientifique">
			<xsd:sequence>
				<xsd:element ref="titre"/>
					<xsd:choice>
						<xsd:element ref="ListingAuthors"/>
						<xsd:element ref="ListingEditors" />
					</xsd:choice>
				<xsd:element ref="publisher" />
				<xsd:element ref="YearPublication" />
				<xsd:element name="abstract" type="xsd:string" minOccurs="0" />
				<xsd:element ref="edition" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute ref="type" use="required"/>
			<xsd:attribute name="isbn"  type="xsd:ID" use="optional"/>
		</xsd:complexType>


		<xsd:complexType name="LeisureBook">
			<xsd:sequence>
				<xsd:element ref="titre"/>
				<xsd:element ref="ListingAuthors" />
				<xsd:element ref="publisher" />
				<xsd:element ref="YearPublication" />
				<xsd:element ref="edition" minOccurs="0" />
				<xsd:element name="PageNum" type="xsd:integer" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute ref="type" use="required"/>
			<xsd:attribute ref="genre" />
		</xsd:complexType>

	<!-- </xsd:element> -->


	<!-- element "periodicals" utilise les elements du NIVEAU_4 plus haut -->

	<xsd:element name="periodicals">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="titre" />
				<xsd:element name="price">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:float">
								<xsd:attribute name="currency"  >
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="EURO"/>
											<xsd:enumeration value="DOL"/>
											<xsd:enumeration value="XAF"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="publisher" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<!-- ######### element PRINCIPAL ##############-->

	<xsd:element name="bookshop">
		<xsd:complexType>
			<xsd:sequence>
			<!-- 1ere_element du DEPARTEMENT : "ScientificProducts" element de niveau 2 -->
				<xsd:element name="ScientificProducts">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="book" type="bookScientifique"/>
							<xsd:element ref="journals"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<!-- 2ere_element du DEPARTEMENT : "LeisureProducts" element de niveau 2 -->
				<xsd:element name="LeisureProducts">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="book" type="LeisureBook"/>
							<xsd:element ref="periodicals"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ######### FIN element PRINCIPAL ##############-->

</xsd:schema>
